!
version 15.2
service timestamps debug datetime msec
service timestamps log datetime msec
!
hostname {{ hostname }}
!
boot-start-marker
boot-end-marker
!
no aaa new-model
no ip icmp rate-limit unreachable
ip cef
!
no ip domain lookup
ipv6 unicast-routing
ipv6 cef
!
multilink bundle-name authenticated
!
ip tcp synwait-time 5
!
!
!
!
!
{# ================= LOOPBACK ================= #}
{% if loopback is defined %}
interface Loopback0
 ipv6 address {{ loopback.ipv6 }}
 ipv6 enable
!
{% endif %}
!
!
!
!
{# ================= INTERFACES ================= #}
{% for iface in interfaces %}
interface {{ iface.name }}
 no shutdown
 {# --- IPv6 addresses (list OR dict) --- #}
 {% if iface.ipv6_addresses is iterable and iface.ipv6_addresses is not mapping %}
   {% for addr in iface.ipv6_addresses %}
 ipv6 address {{ addr }}
   {% endfor %}
 {% elif iface.ipv6_addresses is mapping %}
 ipv6 address {{ iface.ipv6_addresses.ipv6 }}
 {% endif %}
 ipv6 enable
 {# ---------- OSPFv3 ---------- #}
 {% if iface.ospf_area is defined %}
 ipv6 ospf 1 area {{ iface.ospf_area }}
 ipv6 ospf cost {{ iface.ospf_cost }}
 {% endif %}
 {# ---------- RIPng ---------- #}
 {% if iface.rip_enable %}
 ipv6 rip RIPng enable
 {% endif %}
!
{% endfor %}
!
!
{# ================= OSPFv3 GLOBAL ================= #}
{% if ospf is defined %}
ipv6 router ospf 1
 router-id {{ hostname.split(':')[1] }}
{% endif %}
!
!
{# ================= BGP ================= #}
{% if bgp is defined %}
router bgp {{ bgp.as }}
 bgp router-id {{ hostname.split(':')[1] }}
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 {% for n in bgp.neighbours %}
 neighbor {{ n.address.ipv6 }} remote-as {{ n.remote_as }}
 neighbor {{ n.address.ipv6 }} update-source Loopback0
 {% endfor %}
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6 unicast
  {% for net in bgp.networks %}
  network {{ net }}
  {% endfor %}
  {% for n in bgp.neighbours %}
  neighbor {{ n.address.ipv6 }} activate
  {% endfor %}
  redistribute connected
  redistribute rip
  redistribute ospf 1
 exit-address-family
!
{% endif %}
!
{# ================= RIPng GLOBAL ================= #}
{% if rip is defined %}
ipv6 router rip {{ rip.process_name }}
!
{% endif %}
!
!
ip forward-protocol nd
!
no ip http server
no ip http secure-server
!
control-plane
!
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line vty 0 4
 login
!
end
