!

!
version 15.2
service timestamps debug datetime msec
service timestamps log datetime msec
!
hostname {{ hostname.split(':')[1] }}
!
boot-start-marker
boot-end-marker
!
!
!
no aaa new-model
no ip icmp rate-limit unreachable
ip cef
!
!
!
!
!
!
no ip domain lookup
ipv6 unicast-routing
ipv6 cef
!
!
multilink bundle-name authenticated
!
!
!
!
!
!
!
!
!
ip tcp synwait-time 5
! 
!
!
!
!
!
!
!
!
!
!
!
{# ================= LOOPBACK ================= #}
{% if loopback is defined %}
interface Loopback0
 ipv6 address {{ loopback.ipv6 }}/128
 ipv6 enable
 {% set ns = namespace(ospf_done=false) %}
 {% set ospf_done = false %}
 {% for iface in interfaces %}
  {% if iface.ospf_area is defined and not ns.ospf_done %}
 ipv6 ospf 1 area {{ iface.ospf_area }}
    {% set ns.ospf_done = true %}
  {% endif %}
{% endfor %}

!
{% endif %}
!
!
{# ================= INTERFACES ================= #}
{% for iface in interfaces %}
interface {{ iface.name }}
 no ip address
 negotiation auto
 {# --- IPv6 addresses (list OR dict) --- #}
 ipv6 enable
 {% if iface.ipv6_addresses is iterable and iface.ipv6_addresses is not mapping %}
   {% for addr in iface.ipv6_addresses %}
 ipv6 address {{ addr }}
   {% endfor %}
 {% elif iface.ipv6_addresses is mapping %}
 ipv6 address {{ iface.ipv6_addresses.ipv6 }}
 {% endif %}
 {# ---------- OSPFv3 ---------- #}
 {% if iface.ospf_area is defined %}
 ipv6 ospf 1 area {{ iface.ospf_area }}
 {% endif %}
 {% if iface.ospf_metric is defined %}
 ipv6 ospf cost {{ iface.ospf_metric }}
 {% endif %}
 {# ---------- RIPng ---------- #}
 {% if iface.rip_enable %}
 ipv6 rip RIPng enable
 {% endif %}
!
{% endfor %}
!
!
{# ================= OSPFv3 GLOBAL ================= #}
{% if ospf is defined or ns.ospf_done %}
ipv6 router ospf 1
 router-id 1.1.1.{{ hostname.split(':')[-1][1:] }}
{% endif %}
!
!
{# ================= BGP ================= #}
{% if bgp is defined %}
router bgp {{ bgp.as }}
 bgp router-id 1.1.1.{{ hostname.split(':')[-1][1:] }}
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 {% for n in bgp.neighbours %}
 neighbor {{ n.address.ipv6.split('/')[0] }} remote-as {{ n.remote_as }}
 {% if n.remote_as == bgp.as %}
 neighbor {{ n.address.ipv6.split('/')[0] }} update-source Loopback0
 {% if bgp.next_hop_self %}
 neighbor {{ n.address.ipv6.split('/')[0] }} next-hop-self
 {% endif %}
 {% endif %}
 {% endfor %}
 !
 address-family ipv4
 exit
 !
 address-family ipv6
  {% for net in bgp.networks %}
  network {{ net }}
  {% endfor %}
  {% for n in bgp.neighbours %}
  neighbor {{ n.address.ipv6.split('/')[0] }} activate
  {% endfor %}
  redistribute connected
 exit
!
{% endif %}
!
{# ================= RIPng GLOBAL ================= #}
{% if rip is defined %}
ipv6 router rip {{ rip.process_name }}
!
{% endif %}
!
!
ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
!
!
!
!
control-plane
!
!
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line vty 0 4
 login
!
!
end